<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenid@</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>Random Things</h1>
    </header>

    <nav>
      <h2>Menú</h2>
      <ul>
	<li><a href="/home">Home</a></li>
	<li><a href="/random/number">Genera un número al azar</a></li>	
	<li>
	  <a href="/random/number/?from=5&to=16">
	    Genera un número al azar entre 5 y 16
	  </a>
	</li>
	<li><a href="/random/sentence">Obtén una frase al azar</a></li>
      </ul>
    </nav>

    <main>
      <section>
	<article>
	  <p>
	    Aplicación web desde la que podrás generar diferentes "cosas"
	    al azarl: números y frases.
	  </p>
	</article>
      </section>
    </main>

    <footer>
      <p><small><strong>&copy; Román Martínez</small></strong></p>
    </footer>
  </body>
</html>
