<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formularios</title>
  </head>
  <body>
    <h1>Formulario</h1>

    <form action="/contact" method="get">
      <p>
	Usuario: <input type="text" name="username" value="{username}">
      </p>
      <p>
	Contraseña: <input type="password" name="password" value="{password}">
      </p>
      <p>
	Correo electrónico: <input type="email" name="email" value="{email}">
      </p>
      <p>
	Fecha de nacimiento: <input type="date" name="birthdate" value="{birthdate}">
      </p>
      <p>
	Escribe lo que quieras: <textarea rows="5" cols="80" name="comment">{comment}</textarea>
      </p>

      <p>
	<input type="submit" value="Enviar">
      </p>
    </form>
    
  </body>
</html>
