<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenid@</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>Bienvenid@ a mi web</h1>
    </header>

    <nav>
      <h2>Menú</h2>
      <ul>
	<li><strong>Home</strong></li>
	<li><a href="/python">Python</a></li>
	<li><a href="/java">Java</a></li>
      </ul>
    </nav>

    <main>
      <section>
	<article>
	  <p>
	    Aquí encontrarás información de los principales lenguajes de
	    programación.
	  </p>
	</article>
      </section>
    </main>

    <footer>
      <p><small><strong>&copy; Román Martínez</small></strong></p>
    </footer>
  </body>
</html>
