<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenid@</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>Python</h1>
    </header>

    <nav>
      <h2>Menú</h2>
      <ul>
	<li><a href="/home">Home</a></li>
	<li><strong>Python</strong></li>
	<li><a href="/java">Java</a></li>
      </ul>
    </nav>
    
    <main>
      <section>
	<article>
	  <p>
	    Python es un lenguaje interpretado y de tipado dinámico.
	  </p>
	</article>
      </section>
    </main>
	  
    <footer>
      <p><small><strong>&copy; Román Martínez</small></strong></p>
    </footer>
  </body>
</html>
