{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Enrollment</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Enrollment</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'enrollment:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enrollment:subject_list' %}">Materias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enrollment:subject_create' %}">Añadir Materia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'enrollment:student_create' %}">Añadir Alumnado</a>
          </li>
	</ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}
</body>
</html>
